body {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100%;
	overflow: hidden;
}

#canvas {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	width: 99.9%;
	height: 99.9%;
	border: 1px solid black;
}